/****** Navigation Styles *****/
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  background: #EEE;
}

/* Center Images */
img {
  display: block;
  margin: 0 auto;
}

.intro-text {
  padding: 100px 0;
}

.jumbotron {
  background: transparent;
  color: #FFF;
}

#heading {
  background: transparent;
  min-height: 60%;
  position: relative;
}

#heading:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  /*By using the before psuedo-class, I can have the background image and apply a filter*/
  background: url("https://dl.dropboxusercontent.com/u/26165662/Assets/Shawn2.jpg") center center fixed no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
  -o-filter: brightness(50%);
  -ms-filter: brightness(50%);
  filter: brightness(50%);
}

.rounded {
  border-radius: 10%;
  border-color: #111;
  border-style: solid;
  border-width: 1px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

p {
  font-size: 1.4em;
}

.shadowedOrange {
  color: #F78536;
  text-shadow: 1px 1px 1px #000;
}

#navigation, .navbar {
  padding: 0px;
}

#about{
  padding-top: 50px;
  background: #EEEEEE;
}

#portfolio {
  padding-top: 50px;
  background: #EEEEEE;
}

#contact {
  padding-top: 50px;
  background: #EEEEEE;
}

.thickHrLight, .thickHrDark {
  border-top: solid 5px #FFF;
  max-width: 300px;
}

.thickHrDark {
  border-top: solid 5px #333;
}

/* By default (large screens) don't display this navbar by ID */
#mobile-nav {
  display: none;
}

.portfolioImageContainer {
  padding-bottom: 25px;
}

.portfolioItem {
  padding: 5px;
}

.contactList {
  list-style: none;
  padding: 0px;
}

.contactList li {
  margin: 10px;
  display: inline-block;
}

.contactList li i {
  padding: 5px;
  color: #F78536;
  text-shadow: 1px 1px 1px #000;
}

.fa-facebook:hover, .fa-linkedin:hover, .fa-fire:hover, .fa-github:hover, .fa-instagram:hover {
  color: #333;
}

/* Portfolio Animations */

figure {
  position: relative;
  overflow: hidden;
  margin: 10px auto;
  max-width: 578px;
  /*Got rid of float and added max-width along with margin to prevent background bleed that made it look off center*/
  max-height: 398px;
  height: auto;
  cursor: pointer;
}

figure img {
  position: relative;
  display: block;
  opacity: 0.6;
}

figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
  pointer-events: none;
}

figure figcaption,
figure figcaption > a {
  /*Provides positioning for the slide up of the caption*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Anchor will cover the whole item by default */


/* For some effects it will show as a button */

figure figcaption > a {
  /*Hides View More Text from view in links*/
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

figure h2 span {
  font-weight: 700;
}

figure h2,
figure p {
  margin: 0;
}

figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

figure.effect-portfolio {
  background: #333;
}

figure.effect-portfolio img,
figure.effect-portfolio h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-portfolio img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-portfolio h2,
figure.effect-portfolio p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
}

figure.effect-portfolio p {
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}

figure.effect-portfolio:hover img {
  -webkit-transform: translate3d(0, -80px, 0);
  transform: translate3d(0, -80px, 0);
}

figure.effect-portfolio:hover h2 {
  -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0);
}

figure.effect-portfolio:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* END PORTFOLIO ANIMATIONS*/

@media only screen and (max-width: 768px) {
  /*Once 767 width reached, hide normal nav and display icon nav, also adjust
  body padding to accomodate the thicker nav bar from 50 to 56px*/
  #navigation {
    display: none;
  }

  /*Using floats on header and right classes help them stay in the right place
  on screen resize*/
  .navbar-header {
    display: inline-block;
    float: left;
  }

  .navbar-right {
    float: right;
  }

  #mobile-nav {
    display: inline;
    white-space: nowrap;
  }

  #mobile-nav ul li {
    display: inline-block;
    padding: 0px;
  }

  body {
    padding-top: 56px;
  }
}

/*Queries below are for management of intro text padding and height of my
  primary image on various screen sizes */
@media only screen and (min-width: 768px) and (max-width: 950px) {
  .intro-text {
    padding: 200px 0;
  }

  #heading {
    min-height: 75%;
  }
}

@media only screen and (min-width: 950px) {
  .intro-text {
    padding: 300px 0;
  }

  #heading {
    min-height: 100%;
  }
}
